.header1{
   
    display: grid;
    /* background-color: red; */
    width: 100%;
    height: 8rem;
    padding-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.418);
    
    
        
 
    border-bottom: 0.2rem solid white;
    box-shadow: 0 0 2rem 0.1rem white;
   
    border-radius:2rem ;


   
}
.logo img{
    width: 5rem;
   
    height: 5rem;
}

.logo{

display: flex;
justify-content: center;
}


.menu-list{
    align-self: center;
}

.menu-list ul{
    display: flex;
    list-style: none;
    align-self: center;
    
    justify-content: space-evenly;

    
}
.menu-list li{
    cursor: pointer;
   color:white;
    font-size: 1.5rem;
   display: block;
   height: 5.5rem;
   padding-top: 2rem;
   padding-left: 0.6rem;
   padding-right: 0.6rem;
   border-radius:2rem 2rem 0px 0px ;
   box-shadow: 0 0 1.5rem 0.2rem white;
}


.menu-list ul li:hover{
    color:yellow;
    box-shadow: 0 0 2rem 0.1rem yellow;
    text-decoration: underline;
}
a{
display: block;
grid-column: 2/3;
text-decoration: none;
width: fit-content;
align-self: center;
}

.logo span{
    display: block;
    font-size: 3rem;
    color:white;
   align-self: center;
}

.search-bar1{
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: flex-end;

    /* grid-template-columns: 2rem 10rem 15rem; */
}
.search-bar1 input{

    grid-column: 2/3;
    height: 4.5rem;
    width: 12rem;
    text-align: center;
    border-radius: 1rem 0 0 1rem ;
    border:none;
    box-shadow: 0 0 1rem 0.2rem white;
}
.search-bar1 input:focus{
    box-shadow: 0 0 1rem 0.1rem black;
}
.search-bar1 button{
    height: 4.5rem;
    width: 5.4rem;
    background-color:rgb(223, 223, 61);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem 0.2rem white;
}
.search-bar1 button:hover{
background-color: rgb(252, 252, 102);
}
.search-bar1 button:hover i{
    transition-duration:0.2s ;
  transition-timing-function: ease-out;
   transform: scale(1.3);
    }

    .search-bar1 button:active{
       box-shadow: 0 0 2rem 0.3rem green; 
    }

    .search-bar2{
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: flex-end;
     margin-right: 1.5rem;
        /* grid-template-columns: 2rem 10rem 15rem; */
    }
    .search-bar2 input{
    
        
        height: 5rem;
        width: 20rem;
        text-align: center;
        border-radius: 1rem 0 0 1rem ;
        border:none;
        box-shadow: 0.1rem 0.1rem 1rem 0.2rem black;
    }
    .search-bar2 input:focus{
        box-shadow: 0 0 1rem 0.1rem black;
    }
    .search-bar2 button{
        height: 5rem;
        width: 6.5rem;
        background-color: rgb(252, 252, 102);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border:none;
        box-shadow: 0 0 1rem 0.2rem white;
    }
    .search-bar2 button:active{
        box-shadow: 0 0 2rem 0.3rem green; 
     }
 
     .search-bar2 button:active i{
        transition-duration:0.2s ;
      transition-timing-function: ease-out;
       transform: scale(1.3);
        }

    

@media only screen and (max-width: 700px) {
    .header1{
        grid-template-columns: 1rem 0.4fr 3fr 0fr  1.5rem;
        
    }
    .logo span{
        display: none;
    }
 
   
    .search-bar1{
        display: none;
     }
     .search-bar2{
        display: block;
     }
     
    }

    
@media only screen and (max-width: 1500px) and (min-width:700px) {
.header1{
    grid-template-columns: 1rem 0.7fr 2.5fr 0.5fr  1.5rem;
}
   
   
     .search-bar2{
        display: none;
     }
    }
    
    