@import 'Header.css';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lobster Two', cursive;
  /* font-family: 'Alfa Slab One', cursive; */
}

html{
  font-size: 62.5%;
}

body{
  background-image: url("/public/nature2.jpg"); 

  background-attachment: fixed;
  background-size: 100% 100%;
}

.dateblock1{
  width: 3rem;
  height: 3rem;
  background-color: #eeee;
  text-align: center;
  padding-top:0.5rem;
  font-size: 1.5rem;
  border-radius: 25%;
  /* border-left:3px groove brown;
  border-bottom:3px groove brown; */
  box-shadow: 2.5px 2.5px 6px 0.1px black;

}
.dateblock2{
  width: 6rem;
  height: 6rem;
  background-color: #eeee;
  box-shadow: 2.5px 2.5px 6px 0.1px black;
  text-align: center;
  padding-top:1.3rem;
  font-size: 3rem;
  border-radius: 25%;
  

}
.head1{
  font-size: 2rem;
  padding-left: 0.7rem;
}
.head2{
  font-size: 3.5rem;
  padding-left: 1rem;
}
.red{
  color:red;
}

.dates-container{
  
  width: fit-content;

  height: fit-content;
  padding: 1rem;
  display: grid;
  margin-top: 1rem;
  background-color:#f7f7f7;
 gap:0.8rem;

  grid-template-rows:    repeat(5, 1fr);
grid-template-columns: repeat(7, 1fr);
border-bottom-left-radius: 2rem;
border-bottom-right-radius: 2rem;
}
.month-block{
  width:fit-content;
  height:fit-content;
  margin: 1rem;

  background-color: #eeee;
  
  justify-content: center;
  border-bottom-left-radius: 2rem;
border-bottom-right-radius: 2rem;
border-top-left-radius: 4rem; 
border-top-right-radius: 4rem;
box-shadow: 0px 0px 2rem 0.2rem black;
transition-duration: 0.1s;
transition-timing-function: ease-out;
transform: translateY(-10px);
animation:popup;
animation-duration: 0.9s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;


}
.single-month{
  width:fit-content;
  height:fit-content;
  margin: 0rem auto;
margin-top: 3rem;
background-color: yellowgreen;
  
  justify-content: center;
  border-bottom-left-radius: 2rem;
border-bottom-right-radius: 2rem;
border-top-left-radius: 4rem; 
border-top-right-radius: 4rem;
box-shadow: 0px 0px 20px 1px white;

animation:popup;
animation-duration: 0.8s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;


}
@keyframes popup {

  from{
    transform: translateY(10rem);
    opacity: 0;
  }
  to{
    transform: translateY(0rem);
    opacity: 1;
  }
  
}

.month-block:hover{
  box-shadow: 0px 0px 20px 2px white;
  background-color: yellowgreen;

}

.month-block:hover .month-name1{
  color:green;
 
}

.month-block .month-name1{

  width: 95%;
  height:fit-content;
  font-size: 3.5rem;
  text-align: center;
  padding: 0.5rem;
}
.month-name2{

  width: 95%;
  height:fit-content;
  font-size: 4rem;
 
  padding: 0.5rem;
}

.Calender{
  margin-top: 1.5rem;
  height: fit-content;
  justify-items: center;
display: grid;
user-select: none;
/* background-color: red; */

gap:2.14rem;

  grid-template-rows:    repeat(3, minmax(22rem,1fr)); 
grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));
}




.initmsg{
  color:white;
  
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: red; */
  top:35%;
  animation:popup;
animation-duration: 0.8s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;
}

.msg{
  font-size: 5rem;
  text-align: center;
}
.date{
  font-size: 4rem;
  text-align: center;
}
.time{
  font-size: 3rem;
  text-align: center;
}

.initmsg p{
  font-size: 2rem;
 text-align: center;
 color:rgb(196, 240, 130)
}

.about{
  width:fit-content;
  height:fit-content;
  padding-bottom:4rem;
  margin:4rem auto;
  border-radius: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 1.5rem;
  background-color: rgba(255, 255, 255, 0.767);

 animation:popup;
animation-duration: 0.8s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;
}
.about h1{

  text-align: center;
  font-size: 50px;
  /* background-color: red; */
}
.about p{
 
  margin-top: 2rem;
  text-align:justify;
  line-height: 3.4rem;
  word-spacing: 1rem;
  font-size:2.5rem;
  font-family: 'Playfair Display', serif;
}
.about h4{
  font-size:2.5rem;
  margin-top: 2.5rem;
}
.about h4>span{
  font-weight:bold;
  margin-right: 1rem;
  font-family: 'Playfair Display', serif;
}

.doc-block{
  padding:1rem 5rem;
  text-align: center;
  /* border: 4px groove darkgreen; */
  width: fit-content;
 margin: 2rem auto;
 background-color: #00960080;
 box-shadow: 0.3rem 0.3rem 1.5rem 0.2rem black;
}

.doc-block img{

max-height: 50rem;

}
.doc-block h2{
  color:black;
  font-size:3rem;
  margin-bottom: 1.4rem;
}


.backbut{
  width: 10rem;
  height:3rem;
 margin-right: 6rem;
  background-color: lightgreen;
  font-size: 2rem;
  border-radius: 1rem;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.backbut:hover{
  transform: scale(1.1);
  color:white;
  box-shadow: 0 0 1rem 0.1rem black;
}


  @media only screen and (max-width: 500px) {
  html{
    font-size: 50%;
  }
  
  .doc-block img{

    max-height: 40rem;
    
    }
 
  }

  @media only screen and (max-width: 420px) and (min-width: 401px) {
    html{
      font-size: 48%;
    }
    .doc-block img{

      max-height: 36rem;
      
      }
      
    }

  
  @media only screen and (max-width: 400px) and (min-width: 370px) {
    html{
      font-size: 44%;
    }
    .doc-block img{

      max-height: 36rem;
      
      }
    }
    @media only screen and (max-width: 369px) and (min-width: 350px) {
      html{
        font-size: 40%;
      }
      .doc-block img{
  
        max-height: 36rem;
        
        }
      }
    