*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lobster Two', cursive;
  /* font-family: 'Alfa Slab One', cursive; */
}


body{
  background-image: url("/public/nature2.jpg"); 

  background-attachment: fixed;
  background-size: 100vw 100vh;
}

.dateblock1{
  width: 30px;
  height: 30px;
  background-color: #eeee;
  text-align: center;
  padding-top:5px;
  font-size: medium;
  border-radius: 25%;
  /* border-left:3px groove brown;
  border-bottom:3px groove brown; */
  box-shadow: 2.5px 2.5px 6px 0.1px black;

}
.dateblock2{
  width: 60px;
  height: 60px;
  background-color: #eeee;
  box-shadow: 2.5px 2.5px 6px 0.1px black;
  text-align: center;
  padding-top:13px;
  font-size: x-large;
  border-radius: 25%;
  

}
.head1{
  font-size: large;
  padding-left: 7px;
}
.head2{
  font-size: 35px;
  padding-left: 10px;
}
.red{
  color:red;
}

.dates-container{
  position: relative;
  width: fit-content;

  height: fit-content;
  padding: 10px;
  display: grid;
  margin-top: 10px;
  background-color:#f7f7f7;
 gap:8px;

  grid-template-rows:    repeat(5, 1fr);
grid-template-columns: repeat(7, 1fr);
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
}
.month-block{
  width:fit-content;
  height:fit-content;
  margin: 10px;

  background-color: #eeee;
  
  justify-content: center;
  border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 40px; 
border-top-right-radius: 40px;
box-shadow: 0px 0px 20px 1px greenyellow;
transition-duration: 0.1s;
transition-timing-function: ease-out;
transform: translateY(-10px);
animation:popup;
animation-duration: 0.9s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;


}
.single-month{
  width:fit-content;
  height:fit-content;
  margin: 0 auto;
margin-top: 30px;
background-color: yellowgreen;
  
  justify-content: center;
  border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-left-radius: 40px; 
border-top-right-radius: 40px;
box-shadow: 0px 0px 20px 1px white;

animation:popup;
animation-duration: 0.8s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;


}
@keyframes popup {

  from{
    transform: translateY(100px);
    opacity: 0;
  }
  to{
    transform: translateY(0px);
    opacity: 1;
  }
  
}

.month-block:hover{
  box-shadow: 0px 0px 20px 2px white;
  background-color: yellowgreen;

}

.month-block:hover .month-name1{
  color:green;
}

.month-block .month-name1{

  width: 95%;
  height:fit-content;
  font-size: xx-large;
  text-align: center;
  padding: 5px;
}
.month-name2{

  width: 95%;
  height:fit-content;
  font-size: xx-large;
 
  padding: 5px;
}

.Calender{
  margin-top: 15px;
  height: fit-content;
display: grid;
user-select: none;


gap:10px;

  grid-template-rows:    repeat(3, minmax(19rem,1fr)); 
grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
}
.icon{
  width: 60px;
}

.header1{
  display: flex;
  width: 100%;
  height: 65px;
  position: sticky;
  top: 0;
  background-color: #99cd32d6;
  justify-content: space-between;
  z-index: 1;
  padding: 0px 15px;
}

.search-bar{
  display: flex;
  margin-top: 10px;
}
.search-bar button{
 width: fit-content;
  height: 38px;
  padding: 5px;
  border: none;
  border-bottom-right-radius:20px ;
  border-top-right-radius: 20px;
  cursor: pointer;
  background-color: rgb(241, 241, 37);
}
.search-bar button:hover{
  background-color: yellow;
  
}

.search-bar input{
  width: 180px;
  height: 40px;
  padding-left: 3px;
  border-bottom-left-radius:10px ;
  border-top-left-radius: 10px;
  text-align: center;

}
.search-bar input:focus{
  outline:none;
  box-shadow:0 0 5px 1px rgb(18, 178, 241);
}


.logo{
  background-color: antiquewhite;
  height: 60px;
  width: 250px;
  padding: 0px 5px;
  margin-top: 3px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px antiquewhite;
  display: flex;
}
.logo span{
  display:block;
  width: 200px;
  margin-top: 10px;
  font-size: xx-large;
}


nav ul{
  display: flex;
}
nav ul li{
  padding: 0px 10px;
  list-style: none;
  /* background-color: red; */
  
}
.a{
  text-decoration: none;
font-size: larger;
display: block;
padding:17px 10px;
height:max-content;
cursor: pointer;
color:rgb(2, 75, 2);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
transition-duration: 0.25s;
transition-timing-function: ease-out;
}

.a:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
   color:rgb(252, 255, 85);
   background-color: rgba(0, 128, 0, 0.621);
  

}

.initmsg{
  color:white;
  
  position: fixed;
  width: 650px;
  top:30vh;
  left:25vw;
  animation:popup;
animation-duration: 0.8s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;
}

.msg{
  font-size: 60px;
  text-align: center;
}
.date{
  font-size: 40px;
  text-align: center;
}
.time{
  font-size: 30px;
  text-align: center;
}

.initmsg p{
  font-size: 20px;
 text-align: center;
 color:rgb(196, 240, 130)
}

.about{
  width:fit-content;
  height:fit-content;
  padding-bottom:40px;
  margin:40px auto;
  border-radius: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.767);

 animation:popup;
animation-duration: 0.8s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
animation-direction: normal;
}
.about h1{

  text-align: center;
  
  background-color: red;
}
.about p{
 
  margin-top: 20px;
  text-align:justify;
  line-height: 34px;
  word-spacing: 10px;
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
}
.doc-block{
  padding: 20px;
  text-align: center;
  border: 4px groove darkgreen;
  width: fit-content;
 margin: 20px auto;
 background-color: #00960080;
}

.doc-block img{

max-height: 500px;
}
.doc-block h2{
  color:black;
  margin-bottom: 14px;
}


.backbut{
  width: 100px;
  height: 30px;
 margin-right: 60px;
  background-color: lightgreen;
  font-size: large;
  border-radius: 30px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.backbut:hover{
  transform: scale(1.1);
  color:white;
  box-shadow: 0 0 10px 1px black;
}